.option-wrapper {
	display: block;
	/* display: none */
}

.right--container {
	display: flex;
	margin-left: 20px;
	width: 30vmin;
	height: 70vmin;
	align-items: center;
	flex-direction: column;
	margin-right: 20px;
	background-color: #20201C;
}



.play-option {
	width: 80%;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: #32302E;
	border-radius: 7px;
	color: white;
	font-size: 20px;
	margin: 20px;
}

.play-option:hover {
	border: 2px solid #637C44;
	background-color: #3C3A39;
}

.game-wrapper {
	display: none;
}

.game--container {
	justify-content: space-evenly;
}

.option {
	color: wheat;
	font-size: 20px
}

.option:hover {
	color: white
}

.counter {
	color: white;
	font-size: 20px;
}


.resign--wrapper {
	display: none;
}

.resign--container {
	justify-content: center;
	color: white
}

.resign-option {
	margin-top: 20px;
	color: wheat
}

.resign-option:hover {
	color: white
}


.end--wrapper {
	display: none;
}

.end--container {
	justify-content: center;
	color: white;
	align-items: center;
}