* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after {
  content: "";
  display: table;
  clear: both;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: #302E2A;
  display: flex;
  justify-content: center;
  align-items: center;
}